<!DOCTYPE html>
<html lang="en">
    <head>

    </head>
<body>
    
    <div class="main-content">
        <h2>Welcome to the Dashboard</h2>
       
        <br />
        <div class="container">
            
            <div class="card">
               <a href="@Url.Action("Index", "bookmaster")"></a><p>BookMaster</p>
            </div>

            <div class="card">
               <a href="@Url.Action("Index", "usermaster")"></a><p>UserMaster</p>
            </div>

            <div class="card">
               <a href="@Url.Action("Index", "search")"></a><p>Book issued</p>
            </div>

            <div class="card">
               <a href="@Url.Action("Index", "return")"></a><p>Return Books</p>
            </div>
        </div>
    </div>
</body>
</html>

